.main-footer {
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 100%;
    opacity: 0.8;

    @media screen and (min-width: 600px) and (max-width: 1150px) {
        height: 7vh;
    }
}

.footer-clip-email {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: #002b80;
    height: 210px;
    width: 100%;

    @media screen and (max-width: 600px) {
        height: 170px;
    }
}

.get-started {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding: 30px 0;
    transition: all 0.3s ease;
    transform: scale(0.9);
    letter-spacing: 2px;

    @media screen and (max-width: 600px) {
        font-size: 20px;
    }

    a {
        color: inherit;
        font-weight: 700;
    }
}

.get-started-content {
    padding-right: 40px;
    font-size: 38px;

    @media screen and (max-width: 600px) {
        font-size: 22px;
        padding-right: 20px;
    }
}

.get-started:hover {
    transform: scale(1) perspective(1px);
    color: #ca052e;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    float: left;
    padding: 22px 35px 10px 10px;
    font-size: 37px;
    color: #fff;
    transition: all 0.3s ease;
    transform: scale(0.9); 

    @media screen and (max-width: 600px) {
        font-size: 22px;
        padding: 20px 30px 5px 5px;
    }

    a {
        color: inherit;
    }
}

.social-icons li:hover:nth-child(n) {
    transform: scale(1.2) perspective(1px); 
    color: #ca052e;
    opacity: 0.8;
}

.footer-clip-line {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: #ca052e;
    height: 2px;
    width: 100%;
    opacity: 0.8;
}

.footer-copyrights {
    background-color: #ca052e;
    height: 100%;
    width: 100%;
}

.copyrights-text {
    color: #fff;
    padding-top: 15px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;

    @media screen and (max-width: 600px) {
        padding-top: 18px;
    }

    @media screen and (min-width: 600px) and (max-width: 992px) {
        padding-top: 25px;
    }
}